:root {
    --primary-color: #d1cbcb;
    --secondary-color: #F2F2F2;
}

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.container {
    padding: 50px;
    width: 100%;
}

.container>div:not(:last-child) {
    margin: 1.5rem 0;
}
.container>div:first-child {
    margin-top: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
}

.header > .text {
    font-weight: bold;
    font-size: 50px;
}

.venue > div:not(:last-child) {
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    justify-content: flex-start;
}

.row > .heading {
    background-color: var(--primary-color);
    width: 33%;
    margin-right: 0.5rem;
    padding: 10px;
    font-weight: 600;
}

.row > .content {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.card > .heading {
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: 600;
}
.card > .content {
    margin-top: 0.5rem;
    background-color: var(--secondary-color);
    height: 200px;
}

.attendees, .new-issues, .updates {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.attendees > div:first-child,
.new-issues > div:first-child,
.updates > div:first-child {
    margin-right: 0.5rem;
}